@charset "utf-8";

/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:arial,'pingfang sc',stheiti,"microsoft yahei",sans-serif;;font-size:13px}
img,fieldset{border:0;vertical-align:top}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
.blind{position:absolute;top:0;left:0;width:1px;height:1px;overflow:hidden;visibility:hidden;font-size:0; line-height:0}
body,html{ height:100%}
.bg-body{ background:url(../img/bg_body.jpg) center bottom no-repeat}
.bg-body .login-box{ width:376px; position:absolute; left:50%; margin-left:-188px; top:150px; text-align:center}
.bg-body .login-box .logo{ margin-bottom:140px;}
.bg-body .input-box{ background:url(../img/bg_input.png) 0 0 no-repeat; width:376px; height:116px; margin-bottom:26px;}
.bg-body .input-box p{ padding:20px 50px 18px 65px}
.bg-body .input-box p input{ height:20px; vertical-align:top; display:block;background:transparent; border:0; width:100%; color:#fff}
.bg-body .btn-box{ text-align:center}

body{ background:#ebebeb}
.header{ height:80px; background:#fff; border-bottom:1px solid #dcdcdc}
.header-box{ width:1200px; margin:0 auto; overflow:hidden}
.header-box .logo{ width:274px; height:44px; float:left; border-right:1px solid #d4d4d4; margin-top:17px}
.header-box ul{ overflow:hidden;zoom:1; float:left; margin-left:53px;}
.header-box ul a{ font-size:16px; color:#666; display:block; border-top:4px solid #fff;border-bottom:4px solid #fff;}
.header-box ul .cur a{ border-bottom:4px solid #ff0000; }
.header-box ul li{ float:left; margin-right:40px; line-height:72px}
.header-box .tuichu{ font-size:16px; color:#666; line-height:46px; float:right; margin-top:17px}

.contant{ width:1200px; margin:20px auto 0;border:1px solid #dcdcdc; background:#f5f4f4; overflow:hidden;zoom:1}
.left-box{ width:275px; float:left}
.left-box .top-left{ border:1px solid #dcdcdc; border-left:0; border-top:0; background:#000; padding:0 0 0 70px; height:86px; line-height:26px; color:#fff}
.top-left .p1{ font-size:20px; padding-top:20px;}

.left-box .tab-box{line-height:76px; font-size:16px; background:#fff}
.left-box .tab-box a{ display:block; color:#aaa; padding-left:34px;border:1px solid #dcdcdc;border-left:0; border-top:0; background:url(../img/ico_san.png) 236px 30px no-repeat}
.left-box .tab-box a:hover,.left-box .tab-box a.cur{ text-decoration:none;background:url(../img/ico_san2.png) 236px 30px no-repeat; color:#ff0000; border-right:0}
.left-box .tab-box i{ width:26px; height:26px; display:inline-block; vertical-align:top; margin-top:24px; margin-right:10px;}
.left-box .tab-box .a1 i{ background:url(../img/ico_fabu.png) 0 0 no-repeat}
.left-box .tab-box .a1:hover i,.left-box .tab-box .a1.cur i{ background:url(../img/ico_fabu2.png) 0 0 no-repeat}
.left-box .tab-box .a2 i{ background:url(../img/ico_wenzhang.png) 0 2px no-repeat}
.left-box .tab-box .a2:hover i,.left-box .tab-box .a2.cur i{ background:url(../img/ico_wenzhang2.png) 0 2px no-repeat}

.right-box{ width:845px; float:right; background:#fff; padding:0 40px; min-height:800px; _height:800px;}
.right-box .tit{ line-height:82px; font-size:14px; border-bottom:2px solid #000; margin-bottom:20px; font-size:16px; position: relative}
.right-box .tit a{ position:absolute; right:22px; top:22px; width:150px; line-height:40px; text-align:center; background:#f00; color:#fff; font-size:16px}
.right-box .table{ line-height:55px; width:100%;border-bottom:1px solid #dcdcdc}
.right-box .table th{ background:#f8f8f8}
.right-box .table th,.right-box .table td{ text-align:center; font-size:14px; border-top:1px solid #dcdcdc}
.right-box .table .tl{ text-align:left}
.right-box .table .tr{ text-align:right}
.right-box .table td,.right-box .table td a{ color:#888}
.right-box .table td a:hover{ color:#ff0000; text-decoration:none}

.ewm-box{ width:26px; height:26px; display:inline-block; position:relative}
.ewm-box span{ background:url(../img/ewm.jpg) 0 0 no-repeat; width:26px; height:26px; display:block;}
.ewm-box .ewm-pos{ display:none; position:absolute; padding:25px; border:1px solid #626262; background:#fff; left:40px; top:-120px}
.ewm-box:hover .ewm-pos{ display:block; z-index:100}

.jzwdPage{font-size:0;letter-spacing:-6px;text-align:center;line-height:22px;padding:30px 0;height:22px;overflow:hidden;}
.jzwdPage a,.jzwdPage span{font-size:13px;letter-spacing:normal;display:inline-block;margin:0 10px;*margin:0 2px 0 1px; padding:0 7px  0 6px; line-height:20px; text-align:center;}
.jzwdPage a{font-size:13px;letter-spacing:normal; color:#000;text-decoration:none;}
.jzwdPage a:hover{ text-decoration:underline}
.jzwdPage .page-cur{ text-decoration:underline}
.jzwdPage a.page-next{ margin-left:6px}
.jzwdPage a.page-prev{margin-right:6px}
.jzwdPage a.blind{background:none; width:41px;visibility: hidden;}
.jzwdPage a.blind:hover{background:none; border:0}
.jzwdPage .page-break{margin:0 2px;}

.footer{ background:#fff; line-height:84px; text-align:center;border-top:1px solid #dcdcdc; margin-top:20px; color:#666}

.password{ margin-left:190px; width:420px; line-height:50px; font-size:16px; color:#333; padding-top:40px;}
.password input{ width:396px; padding:14px 10px; height:20px; vertical-align:top; line-height:20px; border:1px solid #e5e5e5}
.password .enter{ text-align:right; margin-top:90px;}
.password .enter a{ width:200px; line-height:50px; display:inline-block; text-align:center; color:#fff; background:#ff0000}
.password .enter a.lv{ background:#1ea060}

.map{}
.map-box{}
.map-p{ line-height:20px; font-size:12px; color:#666; text-align:right; padding-top:5px}

.enter2{ line-height:40px; text-align:right; }
.enter2 a{background:#f00; color:#fff; text-align:center; font-size:16px; display:inline-block;width:200px; }

